@model List<BookGenerate.ViewModels.Book>

@foreach (var book in Model)
{
    <div class="accordion-item">
        <div class="accordion-header" id="heading_@book.Index">
            <button class="accordion-button d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@book.Index" aria-expanded="true" aria-controls="collapse_@book.Index">
                <p class="text-center fw-bold m-0" style="width: 8%;">@book.Index</p>
                <p class="m-0" style="width: 23%;">@book.ISBN</p>
                <p class="m-0" style="width: 23%;">@book.Title</p>
                <p class="m-0" style="width: 23%;">@book.Authors</p>
                <p class="m-0" style="width: 23%;">@book.Publisher</p>
            </button>
        </div>
        <div id="collapse_@book.Index" class="accordion-collapse collapse" aria-labelledby="heading_@book.Index" data-bs-parent="#book-generate-row">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="@book.CoverImage" alt="Cover Image" />
                        <div class="book-like">
                            <div class="">
                                <span>@book.Like</span>
                                <i class='bx bxs-like'></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h3 class="">@book.Title</h3>
                        <p class="fst-italic fw-bold m-0">by @book.Authors</p>
                        <p>
                            <span>@book.Publisher, </span>
                            <span class="text-gray">@book.CreationDate.Value.Year</span>
                        </p>
                        <h4>Review</h4>
                        @foreach (var review in book.Reviews)
                        {
                            <p class="m-0">@review.Content</p>
                            <p class="text-gray">-- @review.Reviewer</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
